body{
	
    background-color:#1160a9;
}
body, table, p{
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    color: #3f3f3f;
}
.container {
	width: 900px; 
	overflow: hidden;
	border-radius:15px;
	margin: auto;
	background-color:#ffffff;
}
.main{
    background-color:#ffffff;
	width: 850px; 
	overflow: hidden;
	border-radius:15px;
    padding: 15px 25px;
}
.header_block{
	background-image:url(images/header_banner.jpg);
	border:0px;
	padding:0px;
	width:900px;
	height:100px;
	overflow: hidden;
	background-color:#9ad5ff;
	border-radius:15px 15px 0px 0px;
	color: white;
}
.header_block h1{
	color: white;
	font-family:Helvetica;
	font-size: 24px;
	margin: .5em 30px;
	color: #1160a9;
}
.footer_block{
	/*background-image:url(images/footer_banner.jpg);*/
	float:left;
	border:0px;
	padding:0px;
	width:900px;
	height:50px;
	background-color: #9ad5ff;
	border-radius:15px;
}
.footer_block h4{
	margin: 1.5em 30px;
	width:70%;
	font-family:Helvetica;
	color: #1160a9;
}
.nav_menu{
	background-color:#9ad5ff;
	border-radius:0px 0px 15px 15px;
	padding:5px 0px;
}
.nav_menu td a{
	color: #1160a9;
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size:16px;
	padding:7px 25px;
}
.nav_menu td a:hover{
	background-color:#1160a9;
	color: white;
	border-radius:10px;
}
.prop_table{
	border-spacing: 0px 5px;
}
/* Images of the property (left-side) */
.prop_table th{
	border:2px solid black;
	border-right:0px;
	padding: 7px 10px;
	border-radius:10px 0px 0px 10px;
	margin-left: auto;
	margin-right: auto;
}
/*.inner_col td{
	border:2px solid black;
	border-right:0px;
	border-left:0px;
	padding: 7px 10px;

}*/
/* Property information (right-side) */
.prop_table td{
	border:2px solid black;
	border-left:0px;
	padding: 7px 10px;
	border-radius:0 10px 10px 0px;
}