{% extends "base.html" %}
{%block title %}T&C - Contact{% endblock %}

{% block main %}
	<h2>Contact Us</h2>
	<p>Town & Country,br>
		349 West F St.<br>
		Oakdale, CA 95361</p>
		
	<table cellspacing="5px">
		<tr><td>Inquiries for rentals:</td> <td>847-4440</td></tr>
		<tr><td>Inquiries for homes for sale:</td> <td>847-1745</td></tr>
		<tr><td>Faxes:</td> <td>847-1753</td></tr>
		<tr></tr>
		<tr><td>Emails about rentals:</td> <td><a href="mailto:townandcountrypropertymanagement@yahoo.com">townandcountrypropertymanagement@yahoo.com</a></td></tr>
	</table>
	<br>
	<p>For more information on any of the properties listed here, or for information about seeing inside, please call 847-4440.  You can also reach us by sending an email to <a href="mailto:townandcountrypropertymanagement@yahoo.com">townandcountrypropertymanagement@yahoo.com</a></p>
	<p>Don't hesitate to call us!  We are more than happy to answer any questions you may have!!</p>
{% endblock %}